body{
  background-color: rgb(228, 221, 221);
}

.art{
  border-bottom: 1px solid red;
  width: 100%;
}
hr {
  border-top: 1px solid #8c8b8b;
}
.article{
  padding:6px 0 6px 0;
  font:Bold 13px Arial;
  background:#EB6864;
  color:#fff;
  width:90px;
  border-radius:2px;
  border:none;
}
.addButton{
  padding:15px 15px 15px 15px;
  font:Bold 13px Arial;
  background:#EB6864;
  /* background: linear-gradient(135deg, #e570e7 0%,#79f1fc 100%); */
  color:#fff;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
  border-radius:2px;
  border:none;
}


.addButton {

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;

  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.addButton:hover span {
  display: none;
}
.addButton:before {
  content: '';
  position: absolute;
  z-index: -1;
  width: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #e570e7 0%,#79f1fc 100%);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.addButton:hover, .addButton:focus, .addButton:active {
  color: white;
}
.addButton:hover:before, .addButton:focus:before, .addButton:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.contenu {
  min-height: 800px;
}
.bottomDiv {
  background-color: #EB6864;
  margin-top: 36.15%;
  padding-top: 30px;
  padding-bottom: 30px;
  position: absolute;
  width: 100%;
}
.bottomDiv p {
  color: white;
  font-size: 20px;
  text-decoration: underline;
}
.bottomDiv a {
  color: white;
  font-family: georgia sans-serif;
}

.line button{
  margin-bottom: 30px;
}
.articleImg{
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.line p{
  text-align: center;
  margin-bottom: 10px;
}
.modal-header{
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3)
}
.modal-header h4{
  color: white;
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
}
.modal-body ul li{
  list-style-type: none;
}
html, .articleImg{
  cursor: url("../img/cursor.png"),pointer;
}

.tab-content .modal-content {
  margin: 0;
  padding: 10px;
  margin: auto;
  display: block;
  text-align: center;
}
.tab-content .modal-content ul{
  padding-left: 0;
}
.tab-content .modal-content li{
  margin: 0;
  list-style-type: none;
}
.tab-content .modal-dialog.modal-lg{
  max-width: 600px;
  height: 492px;
}
.catorange{
  background-color: #ff2400;
  color: black;
}
.catred{
  background-color: #e81d1d;
  color: black;
}
.catlightyellow{
  background-color: #e8b71d;
  color: black;
}
.catyellow{
  background-color: #e3e81d;
  color: black;
}
.catgreen{
  background-color: #1de840;
  color: black;
}
.catlightblue{
  background-color: #1ddde8;
  color: black;
}
.catblue{
  background-color: #2b1de8;
  color: black;
}
.catpurple{
  background-color: #dd00f3;
  color: black;
}
.quantityPlus, .quantityLess{
  border-radius: 10px;
  background-color: #EB6864;
  border: transparent;
  color: white;
}

#myCart .modal-body ul{
  border-top: 2px black solid;
  padding-top: 10px;
}

h1 {
  transform: translate(-50%, -50%);
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  color: #eee; }

  .rainbow {
    animation: animated-rainbow-shadow 1s infinite; }

    .rainbow-preloader .rainbow-stripe:nth-child(1) {
      border-color: #f15a5a;
      clip: rect(0, 84px, 42px, 0);
      height: 60px;
      left: 48px;
      -webkit-transform: rotate(180deg);
      top: 70px;
      width: 60px;
      z-index: 5;
      -webkit-animation: rainbow-in-out 5s 0.1s infinite; }
      .rainbow-preloader .rainbow-stripe:nth-child(1):before {
        display: block;
        height: 18px;
        width: 54px; }

        .rainbow-preloader .rainbow-stripe:nth-child(2) {
          border-color: #f0c419;
          clip: rect(0, 108px, 54px, 0);
          height: 84px;
          left: 36px;
          -webkit-transform: rotate(180deg);
          top: 58px;
          width: 84px;
          z-index: 4;
          -webkit-animation: rainbow-in-out 5s 0.2s infinite; }
          .rainbow-preloader .rainbow-stripe:nth-child(2):before {
            content: '';
            display: block;
            height: 72px;
            width: 78px; }

            .rainbow-preloader .rainbow-stripe:nth-child(3) {
              border-color: #4eba6f;
              clip: rect(0, 132px, 66px, 0);
              height: 108px;
              left: 24px;
              -webkit-transform: rotate(180deg);
              top: 46px;
              width: 108px;
              z-index: 3;
              -webkit-animation: rainbow-in-out 5s 0.3s infinite; }
              .rainbow-preloader .rainbow-stripe:nth-child(3):before {
                content: '';
                display: block;
                height: 96px;
                width: 102px; }

                .rainbow-preloader .rainbow-stripe:nth-child(4) {
                  border-color: #2d95bf;
                  clip: rect(0, 156px, 78px, 0);
                  height: 132px;
                  left: 12px;
                  -webkit-transform: rotate(180deg);
                  top: 35px;
                  width: 132px;
                  z-index: 2;
                  -webkit-animation: rainbow-in-out 5s 0.4s infinite; }
                  .rainbow-preloader .rainbow-stripe:nth-child(4):before {
                    content: '';
                    display: block;
                    height: 130px;
                    width: 136px; }

                    .rainbow-preloader .rainbow-stripe:nth-child(5) {
                      border-color: #955ba5;
                      clip: rect(0, 180px, 90px, 0);
                      height: 156px;
                      left: 0px;
                      -webkit-transform: rotate(180deg);
                      top: 23px;
                      width: 156px;
                      z-index: 1;
                      -webkit-animation: rainbow-in-out 5s 0.5s infinite; }
                      .rainbow-preloader .rainbow-stripe:nth-child(5):before {
                        content: '';
                        display: block;
                        height: 144px;
                        width: 150px; }

                        .rainbow-preloader {
                          height: 90px;
                          left: 50%;
                          margin-left: -90px;
                          margin-top: -90px;
                          overflow: hidden;
                          position: fixed;
                          top: 50%;
                          width: 155px; }
                          .rainbow-preloader:before, .rainbow-preloader:after {
                            background: linear-gradient(45deg, transparent 33.333%, #6b9903 33.333%, #6b9903 66.667%, transparent 66.667%), linear-gradient(-45deg, transparent 33.333%, #6b9903 33.333%, #6b9903 66.667%, transparent 66.667%);
                            background-size: 6px 34px;
                            bottom: 0;
                            content: '';
                            display: block;
                            height: 12px;
                            left: 0;
                            position: absolute;
                            width: 70px;
                            z-index: 10; }
                            .rainbow-preloader:after {
                              left: auto;
                              right: 0; }
                              .rainbow-preloader .rainbow-stripe {
                                border-width: 12px;
                                border-style: solid;
                                border-radius: 100%;
                                position: absolute; }
                                .rainbow-preloader .rainbow-stripe:before {
                                  border-radius: 100%; }
                                  .rainbow-preloader .shadow {
                                    background: rgba(0, 0, 0, 0.2);
                                    bottom: -1px;
                                    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
                                    height: 2px;
                                    left: 0;
                                    opacity: 0;
                                    position: absolute;
                                    width: 0;
                                    -webkit-animation: shadow-in-out 5s infinite; }
                                    .rainbow-preloader .shadow + .shadow {
                                      left: 118px;
                                      -webkit-animation-delay: 0.5s; }

                                      body {
                                        overflow-x: hidden; }

                                        .sky {
                                          background: linear-gradient(#85a5cc 0, #d0e4f2 100%);
                                          box-shadow: 0 0 20px #d0e4f2;
                                          height: 44%;
                                          overflow: hidden;
                                          position: fixed;
                                          width: 100%; }
                                          .sky .cloud {
                                            background: #ebf5fc;
                                            border-radius: 200px;
                                            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                                            height: 39px;
                                            margin-right: -102px;
                                            position: absolute;
                                            right: 0%;
                                            width: 102px; }
                                            .sky .cloud.variant-1 {
                                              top: 65%;
                                              -webkit-transform: scale(0.2);
                                              -webkit-animation: clouds-in-out 16s 0s infinite linear; }
                                              .sky .cloud.variant-2 {
                                                top: 53%;
                                                -webkit-transform: scale(0.4);
                                                -webkit-animation: clouds-in-out 17s 2s infinite linear; }
                                                .sky .cloud.variant-3 {
                                                  top: 39%;
                                                  -webkit-transform: scale(0.6);
                                                  -webkit-animation: clouds-in-out 18s 4s infinite linear; }
                                                  .sky .cloud.variant-4 {
                                                    top: 33%;
                                                    -webkit-transform: scale(0.8);
                                                    -webkit-animation: clouds-in-out 19s 6s infinite linear; }
                                                    .sky .cloud.variant-5 {
                                                      top: 74%;
                                                      -webkit-transform: scale(1);
                                                      -webkit-animation: clouds-in-out 20s 8s infinite linear; }
                                                      .sky .cloud:before, .sky .cloud:after {
                                                        background: #ebf5fc;
                                                        border-radius: 100px;
                                                        content: '';
                                                        height: 45px;
                                                        left: 10px;
                                                        position: absolute;
                                                        top: -10px;
                                                        width: 60px;
                                                        -webkit-transform: rotate(30deg);
                                                        -moz-transform: rotate(30deg);
                                                        transform: rotate(30deg); }
                                                        .sky .cloud:after {
                                                          height: 60px;
                                                          left: auto;
                                                          right: 12px;
                                                          top: -24px;
                                                          width: 60px; }

                                                          .ground {
                                                            background: linear-gradient(#6e9e03 0, #4f7302 100%);
                                                            height: 57%;
                                                            position: fixed;
                                                            bottom: 0;
                                                            right: 0;
                                                            left: 0; }

                                                            @-webkit-keyframes rainbow-in-out {
                                                              0% {
                                                                -webkit-transform: rotate(180deg); }
                                                                33% {
                                                                  -webkit-transform: rotate(360deg); }
                                                                  66% {
                                                                    -webkit-transform: rotate(360deg); }
                                                                    100% {
                                                                      -webkit-transform: rotate(540deg); } }
                                                                      @-webkit-keyframes shadow-in-out {
                                                                        0% {
                                                                          opacity: 0;
                                                                          width: 0; }
                                                                          33% {
                                                                            opacity: 1;
                                                                            width: 60px; }
                                                                            66% {
                                                                              opacity: 1;
                                                                              width: 60px; }
                                                                              100% {
                                                                                opacity: 0;
                                                                                width: 0; } }
                                                                                @-webkit-keyframes clouds-in-out {
                                                                                  0% {
                                                                                    right: 0%; }
                                                                                    100% {
                                                                                      right: 105%; } }

    @keyframes animated-rainbow-shadow {
      0% {text-shadow: 0px 0px transparent, 1px 1px #19F, 2px 2px #19F, 3px 3px #EA0, 4px 4px #EA0, 5px 5px #E62, 6px 6px #E62, 7px 7px #E62, 8px 8px #C25, 9px 9px #C25, 10px 10px #19F; }
      10% {text-shadow: 0px 0px transparent, 1px 1px #19F, 2px 2px #EA0, 3px 3px #EA0, 4px 4px #E62, 5px 5px #E62, 6px 6px #E62, 7px 7px #C25, 8px 8px #C25, 9px 9px #19F, 10px 10px #19F; }
      20% {text-shadow: 0px 0px transparent, 1px 1px #EA0, 2px 2px #EA0, 3px 3px #E62, 4px 4px #E62, 5px 5px #E62, 6px 6px #C25, 7px 7px #C25, 8px 8px #19F, 9px 9px #19F, 10px 10px #19F; }
      30% {text-shadow: 0px 0px transparent, 1px 1px #EA0, 2px 2px #E62, 3px 3px #E62, 4px 4px #E62, 5px 5px #C25, 6px 6px #C25, 7px 7px #19F, 8px 8px #19F, 9px 9px #19F, 10px 10px #EA0; }
      40% {text-shadow: 0px 0px transparent, 1px 1px #E62, 2px 2px #E62, 3px 3px #E62, 4px 4px #C25, 5px 5px #C25, 6px 6px #19F, 7px 7px #19F, 8px 8px #19F, 9px 9px #EA0, 10px 10px #EA0; }
      50% {text-shadow: 0px 0px transparent, 1px 1px #E62, 2px 2px #E62, 3px 3px #C25, 4px 4px #C25, 5px 5px #19F, 6px 6px #19F, 7px 7px #19F, 8px 8px #EA0, 9px 9px #EA0, 10px 10px #E62; }
      60% {text-shadow: 0px 0px transparent, 1px 1px #E62, 2px 2px #C25, 3px 3px #C25, 4px 4px #19F, 5px 5px #19F, 6px 6px #19F, 7px 7px #EA0, 8px 8px #EA0, 9px 9px #E62, 10px 10px #E62; }
      70% {text-shadow: 0px 0px transparent, 1px 1px #C25, 2px 2px #C25, 3px 3px #19F, 4px 4px #19F, 5px 5px #19F, 6px 6px #EA0, 7px 7px #EA0, 8px 8px #E62, 9px 9px #E62, 10px 10px #E62; }
      80% {text-shadow: 0px 0px transparent, 1px 1px #C25, 2px 2px #19F, 3px 3px #19F, 4px 4px #19F, 5px 5px #EA0, 6px 6px #EA0, 7px 7px #E62, 8px 8px #E62, 9px 9px #E62, 10px 10px #C25; }
      90% {text-shadow: 0px 0px transparent, 1px 1px #19F, 2px 2px #19F, 3px 3px #19F, 4px 4px #EA0, 5px 5px #EA0, 6px 6px #E62, 7px 7px #E62, 8px 8px #E62, 9px 9px #C25, 10px 10px #C25; }
      100% {text-shadow: 0px 0px transparent, 1px 1px #19F, 2px 2px #19F, 3px 3px #EA0, 4px 4px #EA0, 5px 5px #E62, 6px 6px #E62, 7px 7px #E62, 8px 8px #C25, 9px 9px #C25, 10px 10px #19F; } }
